* {
	margin: 0;
	padding: 0;
}

html {
  height:100%;
}
body {
  min-height:101%;
}
html, body {
  margin:0;
  padding:0;
  background:white url(../img/accent.png) no-repeat bottom right fixed;
  color:#333;
  font-family:Helvetica, Arial, sans-serif;
}
a {
	color: #333;
}
p {
	margin-top: 1em;
}
h1 {
	margin: 0;
	color: #555;
}
#menu {
	float: right;
	margin: 30px 50px 0 0;
}
#menu ul {
	list-style: none;
}
#menu li {
	display: inline;
	padding: 5px 5px 2px;
	background-color: white;
}
#menu a {
}

div#content {
	margin: 0 30px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 12px;
	font-weight: normal;
}
ul.latest, ul.latest li {
	margin: 1em;
}
/** action ul */
ul#actions {
	margin: 10px 0 0;
	color: grey;	
}
#actions li {
	list-style: none;	
	display: inline;
	padding: 0 5px;	
}
#actions a, #sidebar a, #list a {
	color: blue;
}
form {
	margin-bottom: 40px;
}
input[type=text] {
	display: block;
	width: 70%;
	padding: 1px 3px;
	font-size: 110%;
}
input[type=submit] {
	display: block;
	width: auto;
	font-size: 110%;
}
input[type=checkbox] {
	margin: 10px 0 0 0px;
}
select {
	display:block;
}
textarea {
	display: block;
	width: 70%;
	padding: 0 0 0 3px ;
	font-size: 110%;
}
label {
	font-size: 85%;
}
label.required, div.required label {
	font-weight: bold;
}
div#paste, div#clean {
	margin: 10px 0 10px 30px;
	padding: 4px;
	border-top: 2px solid #333333;
	border-right: 2px solid #AAAAAA;
	border-bottom: 2px solid #AAAAAA;
	border-left: 2px solid #333333;
	background-color: white;
}
a#toggle {
	margin-left: 2em;
}
div#footer {
	position: fixed;
	text-align: center;
	font-size: 70%;
	bottom: 0;
	right: 20px;
}

pre.debug {
	background-color: orange;
	padding: 15px 5px;
	display: block;
}
li.li1 {
	background-color: white;
}
li.li2 {
	background-color: #eee;
}
a {
	text-decoration: underline;
}
.kw0, .kw1, .kw2, .kw3, .kw4 {
	color: black;
	font-weight: bold;
}
.kw5, .kw6, .kw7, .kw8 {
	color: #449;
	font-weight: bold;
}
.br0, .br1, .br2, .br3, .br4 {
	font-weight: bold;
	color: blue;
}
.re0, .re1, .re2, .re3, .re4{
	color: magenta;
}
.st_h, .st0, .st1, .st2, .st3, .st4 {
	color:red;
}

.me0, .me1, .me2, .me3, .me4  {
	color: green;
}

.sy0, .sy1, .sy2, .sy3, .sy4 {
	font-weight: bold;
}
/* code comment */
.co1, .co2, .co3, .co4 {
	color: #888;
}
.re8 {
	background-color: #263D2B;
}
.re7 {
	background-color: #512B51;
}