/**
 *  CSS rules for GeSHI paste bin
 *
 */
/* keyword 2
class extends etc
*/
span.kw1, span.kw2 {
	color: black;
	font-weight: bold;
}
/* linked keyword*/
a {
	text-decoration: underline;
}
span.kw3, span.kw4 {
	color: blue;
	font-weight: bold;
}

/* break points
{ [ ] }
*/
span.br0 {
	font-weight: bold;
}
/* variable names
$name $id
*/
span.re0 {
	color: blue;
}
/* strings
'dfs' "sdfs"
*/
span.st_h {
	color:red;
}
/* class methods
->link(
*/
span.me1 {
	color: green;
}
/* -> => ; */
span.sy0 {
	font-weight: bold;
}
/* code comment */
span.co1, span.co2, span.co3, span.co4 {
	color: #888;
}
