/**
 *  CSS rules for GeSHI paste bin 
 *
 */
li.li1 {
	background-color: white;
}
li.li2 {
	background-color: #eee;
}
/* keyword 2 
class extends etc
*/
.kw1, .kw2, .kw3, .kw4 {
	color: blue;
	font-weight: bold;
}
/* linked keyword*/
a {
	text-decoration: underline;
}
.kw3, .kw4 {
	color: blue;
	font-weight: bold;
}

/* break points
{ [ ] }
*/
.br0 {
	font-weight: bold;
}
/* variable names
$name $id
*/
.re0 {
	color: blue;
}
/* strings
'dfs' "sdfs"
*/
.st_h, .st0 {
	color:red;
}
/* class methods
->link(
*/
.me1 {
	color: green;
}
/* -> => ; */
.sy0 {
	font-weight: bold;
}
/* code comment */
.co1, .co2, .co3, .co4 {
	color: #888;
}
